# common Visual Studio stuff
/**/*.suo
/*.suo
*.ldf
*.mdf
*.sdf
/*.user
/*.vsdmi
/*.tmp
*[Bb]in
*obj
*[Dd]ebug
*[Rr]elease
/**/*.user
/**/*.aps
/**/*.eto
TestResults/
/**/*.Publish.xml
*ReSharper*
*/[Bb]in
*/obj
# who needs this?
.svn/
*.orig
*.user
*.User
*.dbmdl
*.*crunch*
*.typemock*
*.vs10x
lint.db
web/App_Data/Elmah.Errors/*.xml
*StyleCop*
/assemblies
/buildartifacts